body{
  background-image: url(picture.jpg);
  height: 100vh;
  background-size: cover;

}
.App {
  text-align: center;
  height: 100vh;
  display: grid;
  place-items: center;
 
}
.container{
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(3px);
  
  height: 80vh;

}
.container h1{
   font-size: 3em;
   margin: 0;
}
.countdown{
  border: 2px solid black;
  border-radius: 4px;
  display: inline-block;
  margin: 20px;
}
@media (min-width: 580px){
  .countdown{
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
}


